/*
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

/*
 This class is used when we manage the focus start point (like when a new page
 is loaded). We typically move the focus start point to the first header-bar in the
 page and don't want a focus ring to display. Instead the next time the user
 presses tab the focus ring will appear on the nearest, focusable element.
*/
.focus-target {
  outline: none;
}
