<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="../../bower_components/paper-styles/typography.html">-->

<!--<script src="../../bower_components/ag-grid/dist/ag-grid.min.js"></script>-->
<!--<link rel="import" href="../../bower_components/ag-grid-webcomponent/ag-grid.html">-->
<!--<link rel="import" href="../../bower_components/ag-grid/dist/ag-grid.min.js">-->
<!--<link rel="import" href="../../bower_components/ag-grid-polymer/ag-grid-polymer.html">-->
<!--<script src=../../bower_components/webcomponentsjs/cus/custom-elements.min.js></script>-->
<!--<script src="../../bower_components/ag-grid-community/dist/ag-grid-community.min.js"></script>-->
<!--<link rel="import" href="../../bower_components/ag-grid-polymer/ag-grid-polymer.html">-->
<!--<link rel="stylesheet" href="../../bower_components/ag-grid-community/dist/styles/ag-grid.css">-->
<!--<link rel="stylesheet" href="../../bower_components/ag-grid-community/dist/styles/ag-theme-balham.css">-->


<!--<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">-->
<!--<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">-->
<!--<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sort-column.html">-->
<!--<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column.html">-->

<!--<script src='https://unpkg.com/@ag-grid-enterprise/all-modules@22.1.2/dist/ag-grid-enterprise.min.js'></script>-->
<!--<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>-->
<script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">


<dom-module id="ag-table">
  <template>
    <style>

    </style>

    <paper-button id="saveState" on-click="saveState">Save</paper-button>
    <paper-button id="resetFilter" on-click="resetFilter">Reset Filter</paper-button>
    <div id="myGrid" style="height: 600px;width:100%;" class="ag-theme-balham"></div>
  </template>


  <script>
      (function() {
          'use strict';

          Polymer({
              is: 'ag-table',

              properties: {
                  columnDefs: {
                      value: [
                          {
                              headerName: "Make",
                              field: "make",
                          },
                          {
                              headerName: "Model",
                              field: "model"
                          },
                          {
                              headerName: "Price",
                              field: "price"
                          },
                      ]
                  },

                  rowData: {
                      value:  [
                          {
                              make: "Toyota",
                              model: "Celica",
                              price: 35000
                          },
                          {
                              make: "Ford",
                              model: "Mondeo",
                              price: 32000
                          },
                          {
                              make: "Porsche",
                              model: "Boxter",
                              price: 72000
                          },
                          {
                              make: "Toyota",
                              model: "Celica",
                              price: 35000
                          },
                          {
                              make: "Ford",
                              model: "Mondeo",
                              price: 32000
                          },
                          {
                              make: "Porsche",
                              model: "Boxter",
                              price: 72000
                          },
                      ]
                  },

                  gridOptions: {
                      value: function () {
                          return {
                              columnDefs: this.properties.columnDefs.value,
                              rowData: this.properties.rowData.value,
                              enableSorting: true,
                              enableFilter: true,
                              animateRows: true,
                          }
                      }
                  }
              },

              attached() {
                  var gridOptions = this.gridOptions;
                  var gridDiv = this.$.myGrid;
                  new agGrid.Grid(gridDiv, gridOptions);

                  if (window.localStorage.model) {
                      gridOptions.columnApi.setColumnState(JSON.parse(window.localStorage.colState));
                      gridOptions.columnApi.setColumnGroupState(JSON.parse(window.localStorage.groupState));
                      gridOptions.api.setSortModel(JSON.parse(window.localStorage.sortState));
                      gridOptions.api.setFilterModel(JSON.parse(window.localStorage.filterState));
                      this.gridOptions = gridOptions;
                  }
              },

              saveState: function (event) {
                  var gridOptions = this.gridOptions;
                  window.localStorage.colState = JSON.stringify(gridOptions.columnApi.getColumnState());
                  window.localStorage.groupState =  JSON.stringify(gridOptions.columnApi.getColumnGroupState());
                  window.localStorage.sortState = JSON.stringify(gridOptions.api.getSortModel());
                  window.localStorage.filterState = JSON.stringify(gridOptions.api.getFilterModel());
                  window.localStorage.model = 1;
              },

              resetFilter: function () {
                  this.gridOptions.api.setFilterModel(null);
                  this.gridOptions.api.onFilterChanged();
              }

          });
      })();
  </script>
</dom-module>
