<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="header-bar">
  <template>
    <style>
      app-toolbar {
        background-color: cornflowerblue;
      }

      app-header-layout {
        z-index: 1;
      }

      .main-header {
        box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
      }

      paper-tabs {
        --paper-tabs-selection-bar-color: black;
        height: 100%;
        max-width: 640px;
      }

      paper-tab {
        --paper-tab-ink: red;
        text-transform: uppercase;
      }

      [hidden] {
        display: none !important;
      }
    </style>

    <app-drawer-layout force-narrow>

      <app-drawer id="drawer">

        <!-- an empty toolbar in the drawer looks like a
             continuation of the main toolbar. It's optional. -->
        <app-toolbar></app-toolbar>

        <!-- Nav on mobile: side nav menu -->
        <paper-menu selected="{{selected}}" attr-for-selected="name">
          <template is="dom-repeat" items="{{items}}">
            <paper-item name="{{item}}">{{item}}</paper-item>
          </template>
        </paper-menu>

      </app-drawer>

      <app-header-layout>
        <app-header class="main-header">

          <app-toolbar>
            <!-- drawer toggle button -->
            <paper-icon-button class="menu-button" icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
          </app-toolbar>

          <app-toolbar class="tabs-bar" hidden$="{{!wideLayout}}">
            <!-- Nav on desktop: tabs -->
            <paper-tabs selected="{{selected}}" attr-for-selected="name" bottom-item>
              <template is="dom-repeat" items="{{items}}">
                <paper-tab name="{{item}}">{{item}}</paper-tab>
              </template>
            </paper-tabs>
          </app-toolbar>

        </app-header>
      </app-header-layout>

    </app-drawer-layout>

    <iron-media-query query="min-width: 600px" query-matches="{{wideLayout}}"></iron-media-query>


<!--    <paper-input value="{{user.name.first::input}}"-->
<!--                 placeholder="First Name"></paper-input>-->
<!--    <paper-input value="{{user.name.last::input}}"-->
<!--                 placeholder="Last Name"></paper-input>-->
<!--    <app-header fixed condenses effects="waterfall">-->
<!--      <app-toolbar>-->
<!--        <paper-icon-button icon="arrow-back"></paper-icon-button>-->
<!--        <div main-title>Polymer Starter Kit</div>-->
<!--        <paper-icon-button icon="shopping-cart"></paper-icon-button>-->
<!--      </app-toolbar>-->
<!--      <paper-tabs selected="0" sticky>-->
<!--        <paper-tab>Food</paper-tab>-->
<!--        <paper-tab>Drink</paper-tab>-->
<!--        <paper-tab>Life</paper-tab>-->
<!--      </paper-tabs>-->
<!--    </app-header>-->


<!--    <app-drawer-layout>-->

<!--      <app-drawer>-->
<!--        <app-toolbar>Getting Started</app-toolbar>-->
<!--      </app-drawer>-->

<!--      <app-header-layout>-->

<!--        <app-header reveals effects="waterfall">-->
<!--          <app-toolbar>-->
<!--            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>-->
<!--            <div main-title>Title</div>-->
<!--          </app-toolbar>-->
<!--        </app-header>-->

<!--        <div>Content goes here</div>-->

<!--      </app-header-layout>-->

<!--    </app-drawer-layout>-->
  </template>

  <script>
      Polymer({
          is: 'header-bar',
          properties: {

              selected: {
                  type: String,
                  value: 'Item One'
              },

              wideLayout: {
                  type: Boolean,
                  value: false,
                  observer: 'onLayoutChange',
              },

              items: {
                  type: Array,
                  value: function() {
                      return ['Item One', 'Item Two', 'Item Three', 'Item Four', 'Item Five'];
                  }
              },

              user: {
                  type: Object,
                  value: function() {
                      return {'name':{}};
                  }
              }
          },

          onLayoutChange: function(wide) {
              var drawer = this.$.drawer;

              if (wide && drawer.opened) {
                  drawer.opened = false;
              }
          },

          observers: [
              'userNameChanged(user.name.*)'
          ],
          userNameChanged: function(changeRecord) {
              console.log('path: ' + changeRecord.path);
              console.log('value: ' + changeRecord.value);
          },

      })

  </script>
</dom-module>
