<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/poly-graph/poly-graph.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="my-elem">
  <template>
    <style>
      :host {
        padding: 4px;
      }

      #resolution {
        --paper-slider-knob-start-color: var(--google-blue-700);
        --paper-slider-knob-start-border-color: transparent;
        --paper-slider-pin-start-color: var(--google-blue-700);
      }

      iron-image {
        width: 150px;
        height: 150px;
        cursor: pointer;
        transition: 0.4s ease;
      }

      paper-button a {
        text-decoration: none;
      }
    </style>

    <div class="card">

      <poly-graph style="height:300px" resolutiion="50"></poly-graph>

      <span>Resolution (pixels / second):</span><br>
      <paper-slider id="resolution" min="10" max="100" value="50" step="10" pin></paper-slider>
<!--      <span>{{id}}</span>-->
        <div>
         <paper-button><a href="#"
             on-click="onDownload">File Download</a>
         </paper-button>
          <a href="#"
             id="fileLink"
             hidden
             download="file.txt"></a>
        </div>
      </div>

    <template is="dom-bind">
      <iron-ajax
        auto
        url="https://jsonplaceholder.typicode.com/posts/1/comments"
        handle-as="json"
        on-response="handleResponse"
        debounce-duration="300"
        last-response="{{ajaxResponse}}"
      >
      </iron-ajax>

      <iron-data-table items="[[ajaxResponse]]">
        <data-table-column name="Checked">
          <template><paper-checkbox></paper-checkbox></template>
        </data-table-column>

        <data-table-column name="Post Id" height="100">
          <template>[[item.postId]]</template>
        </data-table-column>

        <data-table-column name="Id">
          <template>[[item.id]]</template>
        </data-table-column>

        <data-table-column name="Name">
          <template>[[item.name]]</template>
        </data-table-column>

        <data-table-column name="Email">
          <template>[[item.email]]</template>
        </data-table-column>

      </iron-data-table>
    </template>

    <template is="dom-repeat" items="{{images}}">
      <iron-image on-mouseover='onHover' on-mouseout="onMouseOut" sizing="cover" preload src="{{item}}"></iron-image>
    </template>

    <google-chart
      type='pie'
      options='{"title": "Distribution of days in 2001Q1"}'
      cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
      rows='[["Jan", 31],["Feb", 28],["Mar", 31]]'>
    </google-chart>
<!--    <iron-list items="[[data]]" as="item">-->
    <!--      <template>-->
    <!--        <div>-->
    <!--          Name: [[item]]-->
    <!--        </div>-->
    <!--      </template>-->
    <!--    </iron-list>-->
  </template>

  <script>
      Polymer({
          is: 'my-elem',
          ready() {
          //     var _demoData = function() {
          //         var el = document.querySelector('poly-graph');
          //
          //         el.addGuide('max_guide', {min:0.8,height:0.1,name:"MAX",color:'#fdd'});
          //         el.addGuide('zero_guide', {min:0,name:"ZERO"});
          //         el.addGuide('min_guide', {min:-0.8,height:-0.1,name:"MIN",color:'#dfd'});
          //
          //         el.addPen('red', {color:'#d00', name:'DaRed', lineWidth:3});
          //         el.addPen('green', {color:'#0d0', name:'DaGreen'});
          //         el.addPen('blue', {color:'#00d', name:'DaBlue', dotsOnly:true});
          //         var count1 = 0;
          //         setInterval(function() {
          //             el.addValue('red', Math.sin(count1 * 0.1));
          //             count1++;
          //         }, 50);
          //
          //         var count2 = 0;
          //         setInterval(function() {
          //             el.addValue('green', Math.sin(count2 * 0.1));
          //             count2++;
          //         }, 20);
          //
          //         var count3 = 0;
          //         setInterval(function() {
          //             el.addValue('blue', Math.sin(count2 * 0.02));
          //             count3++;
          //         }, 300);
          //
          //         var resolution = document.querySelector('#resolution');
          //         resolution.addEventListener('immediate-value-change', function() {
          //             el.resolution = resolution.immediateValue;
          //         });
          //
          //     }
          //
          //     setTimeout(_demoData, 100);
          //
          //     this.$.resolution.style.width = '100%';
          // },
          //
          // properties: {
          //     id: {
          //         value: Math.round(Math.random(10)*10)
          //     },
          //     images: {
          //         type: Array,
          //         value: function () {
          //             var images = [];
          //             for (let i = 0; i < 15; i++) {
          //                 images.push('https://i.picsum.photos/id/'+ Math.round(Math.random(100)*200) +'/200/300.jpg')
          //             }
          //             return images;
          //         }
          //     },
          //
          //     tableItems: {
          //         type: Array,
          //         value: function () {
          //             return [1, 2, 3, 4, 5]
          //         }
          //     },
          //
          //     hovered: {
          //         type: Boolean,
          //         value: false,
          //         observer: 'hover'
          //     }
          // },
          //
          // onHover: function(e) {
          //     // hovered = true;
          //     e.target.parentElement.setAttribute('style', 'transform: scale(1.1); z-index: 1');
          // },
          //
          // onMouseOut: function(e) {
          //     e.target.parentElement.removeAttribute('style');
          // },
          //
          // onDownload(e) {
          //     e.preventDefault();
          //
          //     const link = this.createFile('some text content');
          //     this.$.fileLink.href = link;
          //     this.$.fileLink.click();
          // },
          //
          // createFile(text) {
          //     const textBlob = new Blob([text], {type: 'text/plain'});
          //     return window.URL.createObjectURL(textBlob);
          }
      })

  </script>
</dom-module>
