<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">

<dom-module id="add-task">
    <template>
        <style>
            :host {
                display: block;
            }

            :root {
                --select-border: 1px solid grey;
                --flex: flex;
            }

            span {
                @apply(--paper-font-body1);
            }

            .block {
                display: flex;
                width: 50%;
                align-items: center;
            }

            .sections {
                display: flex;
            }

            .label-name {
                width: 25%;
            }

            .block-headers {
                background: white;
                border-radius: 10px;
                padding: 10px 40px;
                margin-bottom: 50px;
            }

            paper-dropdown-menu {
                --paper-input-container:  {
                    border: var(--select-border);
                    padding: 0;
                    border-bottom: 0;
                    margin-bottom: 10px;
                    width: 220px;
                    /*display: flex;*/
                    /*justify-content: center;*/
                }
            }

            paper-input {
                --paper-input-container:  {
                    border: var(--select-border);
                    padding: 0;
                    border-bottom: 0;
                    margin-bottom: 10px;
                    width: 220px;
                }
            }

            .right-block {
                justify-content: flex-end;
            }

            .textarea-block {
                width: 100%;
            }

        </style>

        <div class="container">
            11
            <form is="iron-form" id="form" method="post" action="">
            <div class="general block-headers">
                <div class="header-text">
                    <h3>General</h3>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Task ID</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu selected-item-label="{{selected}}">
                                <paper-menu class="dropdown-content" selected="1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-menu>
                            </paper-dropdown-menu>
                            <input is="iron-input" name="taskId" type="hidden" value$="[[selected]]">
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>Status</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu>
                                <paper-listbox class = "dropdown-content" selected = "1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Parent Project</span>
                        </div>
                        <div class="label-selection">
                            <paper-input></paper-input>
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>Priority</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu>
                                <paper-listbox class = "dropdown-content" selected = "1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Progress</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu selected-item-label="{{selected}}">
                                <paper-menu class="dropdown-content" selected="1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-menu>
                            </paper-dropdown-menu>
<!--                            <input is="iron-input" name="title" type="hidden" value$="[[selected]]">-->
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>TLB</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu>
                                <paper-listbox class = "dropdown-content" selected = "1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Country</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu>
                                <paper-listbox class = "dropdown-content" selected = "1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span></span>
                        </div>
                        <div class="label-selection">
                            <paper-input></paper-input>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>B1 Region</span>
                        </div>
                        <div class="label-selection">
                            <paper-input></paper-input>
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>B2 Region</span>
                        </div>
                        <div class="label-selection">
                            <paper-input></paper-input>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Line Manager</span>
                        </div>
                        <div class="label-selection">
                            <paper-input></paper-input>
                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>Task Officer</span>
                        </div>
                        <div class="label-selection">
                            <paper-input placeholder="Chris Brians"></paper-input>
                        </div>
                    </div>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span></span>
                        </div>
                        <div class="label-selection">

                        </div>
                    </div>
                    <div class="block right-block">
                        <div class="label-name">
                            <span>Task Officer Grade</span>
                        </div>
                        <div class="label-selection">
                            <paper-input placeholder="Grade x"></paper-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary block-headers">
                <div class="header-text">
                    <h3>Summary of Asset Information</h3>
                </div>
                <div class="sections">
                    <div class="block">
                        <div class="label-name">
                            <span>Establishment</span>
                        </div>
                        <div class="label-selection">
                            <paper-dropdown-menu>
                                <paper-listbox class = "dropdown-content" selected = "1">
                                    <paper-item>1</paper-item>
                                    <paper-item>2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                </div>
            </div>
                <div class="task-details block-headers">
                    <div class="header-text">
                        <h3>Task Details</h3>
                    </div>
                    <div class="sections">
                        <div class="block">
                            <div class="label-name">
                                <span>Task Ref</span>
                            </div>
                            <div class="label-selection">
                                <paper-input></paper-input>
                            </div>
                        </div>
                        <div class="block right-block">
                            <div class="label-name">
                                <span>Task Type</span>
                            </div>
                            <div class="label-selection">
                                <paper-dropdown-menu>
                                    <paper-listbox class="dropdown-content" selected ="1">
                                        <paper-item>1</paper-item>
                                        <paper-item>2</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                        </div>
                    </div>
                    <div class="sections">
                        <div class="block textarea-block">
                            <div class="label-name">
                                <span>Task Description</span>
                            </div>
                            <div class="label-selection">
                                <iron-autogrow-textarea placeholder="Description"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'add-task',

                properties: {

                },

                ready: function() {

                }
            });
        })();
    </script>
</dom-module>
